/* https://demo.templatemonster.com/demo/297024.html */
/* color
  #f7f2ec rgb(247, 242, 236)
  #571600 rgb(87, 22, 0)
  #ffffff rgb(255, 255, 255)
  #242424 rgb(36, 36, 36)
  #743e2b rgb(116, 62, 43)
*/

html,
body{
  margin: 0;
  padding: 0;
}

body{
  background: #f7f2ec;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
  height: 100%;
}
.col {
  flex: 1 0 0%;
}

#header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 9;
  font-size: 24px;
}

#header .container{
  width: 100%;
  padding-right: calc(1rem * 0.5);
  padding-left: calc(0 * 0.5);
  margin-right: auto;
  margin-left: auto;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

#header .logo{
  text-align: center;
  padding-bottom: 8px;
  max-width: 150px;
  width: 100%;
  vertical-align: middle;
}


.icon_menu:hover
{
  cursor: pointer;
  color: #743e2b;
}


#icon_right{
  text-align: right;
}

#icon_right span{
  padding-right: 10px;
}